.displayArea{
    display: flex;
    justify-content: center;
    overflow: hidden;

    background: #000000;
    border: 0.5px solid #525252;
    border-radius: 15px;

    flex-wrap: wrap;

    min-height: 40vh;
    width: 70vh;

    transition: 1s;
    padding: 40px;
    margin: 100px;
}

.displayContainer{

}

.text{
    color: rgb(255, 255, 255);
}


